<h1>Index#index</h1>
<p>Find me in app/views/index/index.html.erb</p>

<% unless session[:oauth] %>
  <%= form_tag('/oauth', :method => :get) do %>
    <%= submit_tag '塩カルビ好き？じゃ、押せ！！' %>
  <% end %>
<% else %>
  <%= form_tag('/logout', :method => :get) do %>
    <%= submit_tag '満足かい？この豚野郎！！' %>
  <% end %>
  <div>
    <dl>
      <% @twitter.each do |t| %>
      <dt><%= image_tag t.user.profile_image_url, size: '30x30' %></dt>
      <dd><%= t.user.name %></dd>
      <dd><%= t.text %></dd>
      <% end %>
    </dl>
  </div>
<% end %>

